{% extends "base.html" %}

{% block content %}

<h2>Character Details</h2>
<table>
    <tr>
        <td>Name:</td>
        <td>{{ character.name }}</td>
    </tr>
    <tr>
        <td>Health:</td>
        <td>{{ character.describe_health() }}</td>
    </tr>
    <tr>
        <td>Gold:</td>
        <td id="gold-amount">{{ character.inventory.gold.amount }}</td>
        <td>
            <button onclick="modifyGold('{{ character.id }}', ACTION_ADD)">+</button>
            <button onclick="modifyGold('{{ character.id }}', ACTION_REMOVE)">-</button>
        </td>
    </tr>
    <tr>
        <td>Inventory:</td>
        <td>
            {% if character.inventory.items %}
                [{{ character.inventory.items | map(attribute='name') | join(", ") }}]
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
</table>

<script src="{{ url_for('static', filename='modify-gold.js') }}"></script>

{% endblock %}
